*
{
    box-sizing: border-box;
    margin: 0;
}
body
{
    background: url('../background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
body::after
{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}
/******************************************* CREATION CONTENT ************************************************/
.demarrage_bouton
{
    position: absolute;
    opacity: 1;
    top: 35%;
    border-radius:50%;
    transition: all 0.3s;   
}
.demarrage_bouton img
{
    cursor: pointer;
}
.demarrage_bouton:hover
{
    box-shadow: 0 0 20px 3px white;
}
.demarrage_bouton_close
{
    opacity: 0;
    position: absolute;
    top: 35%;
    border-radius:50%;
    transition: all 2s;  
}
/********************************************* PREMIER DIV  ************************************************/
.first_container_deroule
{
    background-color: white;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.3s ease-in-out;
    transform: translateY(0%);
}
.first_container
{
    background-color: white;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.3s ease-in-out;
    transform: translateY(-100%);
}
/********************************************* COLONNE ET NOTE ************************************************/
.colonne,.note
{
    display: flex;
    align-items: center;
    border-left: 5px solid black;
    border-radius: 0.3em;
    padding: 0.4% 0;
    margin: 0 1%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.colonne:hover,.note:hover
{
    border-left: 5px solid rgb(146, 146, 146);
    color: white;
    background-color: rgb(146, 146, 146);
}
.colonne i,.note i
{
    font-size: 0.8em;
}
.colonne i,.note i,
.colonne p,.note p
{
    font-weight: bold;
    margin: 0 0.5%;
}
.second_container
{
    height: 90%;
    width: 98%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 0;
}
/********************************************* SECOND DIV  ************************************************/
.bloc
{
    height: 96%;
    width: 18%;
    text-align: center;
    overflow: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.bloc input
{
    background-color: rgba(104, 104, 104, 0.445);
    padding: 3%;
    margin: 0.5%;
    height: 6%;
    width: 98%;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    border: none;
    outline: none;
}
.bloc_son
{
    min-height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.task
{
    width: 100%;
    min-height: 100%;
}
.myTask
{
    background: rgb(255, 255, 255);
    color: black;
    margin: 2% 0.5%;   
    border-radius: 0.3em;
    padding: 3%;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7%;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: inset 15px 0 7px -5px rgba(104, 104, 104, 0.445), inset -15px 0 7px -5px rgba(104, 104, 104, 0.445);
}
.gauche,.droite
{
    transition: all 1s ease;
    cursor: pointer;
    color: black;
}
.gauche:hover,.droite:hover
{
    cursor: pointer;
    padding: 5%;
}
.supprimer i 
{
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.supprimer i:hover
{
    box-shadow: 0 0 20px 4px white;
}
/********************************* CREATION DU POP UP DE SUPPRESSION**********************************************/
.delete_pop_up
{
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: 0.4s ease-in-out;
    z-index: 2;
}
.delete_pop_up_affiche
{
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: 0.4s ease-in-out;
}
.confirm_delete
{
    width: 30%;
    height: 30%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1.5em;
    transition: 0.4s ease-in-out;
    transform: translateY(0);
}
.choice
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.confirm_delete button
{
    width: 25%;
    padding: 4%;
    cursor: pointer;
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1.5em;
    transition: all 0.3s ease-in-out;
}
.confirm_delete button:hover
{
    background-color: rgb(134, 134, 134);
}
/*************************************** CREATION DU POP UP **********************************************/
.pop_up
{
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: 0.4s ease-in-out;
}
.pop_up_affiche
{
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: 0.4s ease-in-out;
}
.container
{
    background-color: white;
    width: 30%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/****************************************** ENTETE POP UP **********************************************/
.entete
{
    background-color: rgba(0, 0, 0, 0.507);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    color: white;
    width: 100%;
}
.close
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
}
.close i
{
    cursor: pointer;
    transition: all 0.2s;
}
.close i:hover
{
    color: black;
}
.titre
{
    display: flex;
    width: 95%;
}
/********************************************* CORPS DU POP UP **********************************************/
.corps
{
    width: 95%;
}
/*************************************** PRESENTATION DU POP UP *****************************************/
.presentation
{
    text-align: center;
    margin: 4% 0;
}
/***************************************** TEXTAREA DU POP UP *****************************************/
.textarea
{
    margin: 4% 0;
}
.textarea textarea
{
    min-width: 100%;
    max-width: 100%;
    min-height: 20vh;
    max-height: 20vh;
    outline: none;
}
/**************************************** LES LABELS DU POP UP *****************************************/
label
{
    font-weight: bold;
}
/**************************************** LES INPUTS DU POP UP *****************************************/
.input
{
    margin: 4% 0;
}
.input input
{
    outline: none;
    padding: 2%;
    width: 100%;
    cursor: pointer;
}
/****************************************** BOUTON DU POP UP *****************************************/
.ajout
{
    margin: 4% 0;
    text-align: center;
    cursor: pointer;
    background-color: #038f0a;
    transition: all 0.3s ease-in-out;
}
.ajout button
{
    border: none;
    background: none;
    font-weight: bold;
    font-size: 1em;
    padding: 2%;    
    cursor: pointer;
    color: white;
}
.ajout:hover
{
    background-color: #02aa0a;

}
/****************************************** MENU CORBEILLE ***********************************************/
.trash_menu
{
    position: absolute;
    right: 0;
    top: 1%;
    z-index: 1;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.5s ease-in-out;
    transform: translateX(90%);
}
.trash_menu_open
{
    position: absolute;
    right: 0;
    top: 1%;
    z-index: 1;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.5s ease-in-out;
    transform: translateX(0%);
}
.trash
{
    font-size: 2em;
    color: rgba(128, 128, 128, 0.5);
    width: 99%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.trash_return
{
    font-size: 2em;
    color: rgba(128, 128, 128, 0.5);
    transition: all 0.5s ease-in-out;
    width: 10%;
    cursor: pointer;
}
.corbeille
{
    width: 90%;
    height: 100%;
    background-color: rgba(187, 184, 184, 0.527);
    text-align: center;
    overflow: auto;
}
.corbeille p
{
    color: black;
    padding: 5%;
    border-bottom: 2px solid white;
}