*
{
    box-sizing: border-box;
    margin: 0;
}
body
{
    background: url('../background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    font-family: sans-serif;
    line-break: anywhere;
}
body::after
{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}
/******************************************* CREATION CONTENT ************************************************/
.demarrage_bouton,.demarrage_bouton_close
{
    position: absolute;
    opacity: 1;
    top: 35%;
    border-radius:50%;
    transition: all 0.5s;   
}
.demarrage_bouton img
{
    cursor: pointer;
}
.demarrage_bouton:hover
{
    box-shadow: 0 0 20px 3px white;
}
.demarrage_bouton_close
{
    opacity: 0;
    transition: all 2s;   
}
/********************************************* PREMIER DIV  ************************************************/
.first_container_deroule,.first_container
{
    background-color: white;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.5s ease-in-out;
    transform: translateY(0%);
}
.first_container
{
    transform: translateY(-100%);
}
/********************************************* COLONNE ET NOTE ************************************************/
.colonne,.note
{
    display: flex;
    align-items: center;
    border-left: 5px solid black;
    border-radius: 0.3em;
    padding: 0.4% 0;
    margin: 0 1%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 95%;
}
.colonne:hover,.note:hover
{
    border-left: 5px solid rgb(146, 146, 146);
    color: white;
    background-color: rgb(146, 146, 146);
}
.colonne i,.note i
{
    font-size: 0.8em;
}
.colonne i,.note i,
.colonne p,.note p
{
    font-weight: bold;
    margin: 0 0.5%;
}
.second_container
{
    height: 90%;
    width: 98%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 0;
}
/********************************************* SECOND DIV  ************************************************/
.myDescription_affiche,.action,.myDescription
{
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 0.3em;
    padding: 3%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    transition: 0.5s ease-in-out;
    transform: scale(1);
    box-shadow: inset 15px 0 7px -6px rgba(104, 104, 104, 0.445), inset -15px 0 7px -6px rgba(104, 104, 104, 0.445);
} 
.action
{
    display: flex;
    justify-content: space-around;
}
.myDescription
{
    transform: scale(0);
    padding: 0%;
} 
.bloc
{
    height: 96%;
    width: 18%;
    text-align: center;
    overflow: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    animation: bounce 0.5s linear;
    overflow-x: hidden;
}
.myInpute,.myInputs
{
    background-color: rgba(214, 211, 211, 0.445);
    padding: 3%;
    height: 6%;
    width: 98%;
    color: black;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
    border: none;
}
.myInputs
{
    outline: none;
}
.bloc_son
{
    min-height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.task
{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.myTask,.pulse
{
    background: rgb(255, 255, 255);
    color: black;
    margin: 2% 0.5%;   
    border-radius: 0.3em;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 7%;
    cursor: pointer;
    animation: bounce 0.5s linear;  
    box-shadow: inset 15px 0 7px -5px rgba(104, 104, 104, 0.445), inset -15px 0 7px -5px rgba(104, 104, 104, 0.445);
}
.pulse
{
    animation: pulse 1s infinite;  
}
@keyframes pulse 
{
    0% 
    {
      box-shadow: 0 0 0 5px rgba(74, 241, 48, 0.4);
    }
    70% 
    {
        box-shadow: 0 0 0 20px rgba(15, 255, 2, 0);
    }
    100% 
    {
        box-shadow: 0 0 0 5px rgba(63, 204, 44, 0);
    }
}
.icone_content
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
}
.gauche,.droite
{
    transition: all 1s ease;
    cursor: pointer;
    color: black;
}
.icone_invisible
{
    visibility: hidden;
}
.gauche:hover,.droite:hover
{
    cursor: pointer;
    padding: 5%;
}
.supprimer i 
{
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.supprimer i:hover
{
    box-shadow: 0 0 20px 4px white;
}
@keyframes bounce {
    0%, 20%, 40%, 60%, 80% 
    {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    } 
    0% 
    {
        opacity: 0;
        transform: scale3d(0.3,0.3,0.3);
    } 
    20% 
    {
        transform: scale3d(1.03,1.03,1.03);
    } 
    40% 
    {
        transform: scale3d(0.9,0.9,0.9);
    } 
    60% 
    {
        opacity: 1;
        transform: scale3d(1.01,1.01,1.01);
    } 
    80% 
    {
        transform: scale3d(0.97,0.97,0.97);
    } 
    to  
    {
        opacity: 1;
    }

 } 
/********************************* CREATION DU POP UP DE SUPPRESSION**********************************************/
.delete_pop_up,.delete_pop_up_affiche
{
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: 0.4s ease-in-out;
    z-index: 2;
}
.delete_pop_up_affiche
{
    transform: scale(1);
}
.confirm_delete
{
    width: 30%;
    height: 30%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1.5em;
    transition: 0.4s ease-in-out;
    transform: translateY(0);
}
.choice
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.confirm_delete button
{
    width: 25%;
    padding: 4%;
    cursor: pointer;
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1.5em;
    transition: all 0.3s ease-in-out;
}
.confirm_delete button:hover
{
    background-color: rgb(134, 134, 134);
}
.date,.debut_heure,.fin_heure
{
    padding: 3%;
    border-radius: 0.5em;
    color: white;
}
.date
{
    background-color: #cacaca;
}
.debut_heure
{
    background-color: #47ff50;
}
.fin_heure
{
    background-color: #ff2b2b;
}
/*************************************** CREATION DU POP UP **********************************************/
.pop_up,.pop_up_affiche
{
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: 0.4s ease-in-out;
}
.pop_up_affiche
{
    transform: scale(1);
}
.container
{
    background-color: white;
    width: 30%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/****************************************** ENTETE POP UP **********************************************/
.entete
{
    background-color: rgba(0, 0, 0, 0.507);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    color: white;
    width: 100%;
}
.close
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
}
.close i
{
    cursor: pointer;
    transition: all 0.2s;
}
.close i:hover
{
    color: black;
}
.titre
{
    display: flex;
    width: 95%;
}
/********************************************* CORPS DU POP UP **********************************************/
.corps
{
    width: 95%;
}
/*************************************** PRESENTATION DU POP UP *****************************************/
.presentation
{
    text-align: center;
    margin: 4% 0;
}
/***************************************** TEXTAREA DU POP UP *****************************************/
.textarea
{
    margin: 4% 0;
}
.textarea textarea
{
    min-width: 100%;
    max-width: 100%;
    min-height: 20vh;
    max-height: 20vh;
    outline: none;
    line-break: auto;
}
/**************************************** LES LABELS DU POP UP *****************************************/
label
{
    font-weight: bold;
}
/**************************************** LES INPUTS DU POP UP *****************************************/
.input
{
    margin: 4% 0;
}
.input input
{
    outline: none;
    padding: 2%;
    width: 100%;
    cursor: pointer;
}
/****************************************** BOUTON DU POP UP *****************************************/
.ajout
{
    margin: 4% 0;
    text-align: center;
    cursor: pointer;
    background-color: #038f0a;
    transition: all 0.3s ease-in-out;
}
.ajout button
{
    border: none;
    background: none;
    font-weight: bold;
    font-size: 1em;
    padding: 2%;    
    cursor: pointer;
    color: white;
}
.ajout:hover
{
    background-color: #02aa0a;
}
/****************************************** MENU CORBEILLE ***********************************************/
.trash_menu,.trash_menu_open
{
    position: absolute;
    right: 0;
    top: 1%;
    z-index: 1;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.5s ease-in-out;
    transform: translateX(90%);
}
.trash_menu_open
{
    transform: translateX(0%);
}
.trash
{
    font-size: 2em;
    color: rgba(80, 79, 79, 0.5);
    width: 99%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.trash_return
{
    font-size: 2em;
    color: rgba(80, 79, 79, 0.5);
    transition: all 0.5s ease-in-out;
    width: 10%;
    cursor: pointer;
}
.corbeille
{
    width: 90%;
    height: 100%;
    background-color: rgba(187, 184, 184, 0.527);
    text-align: center;
    overflow: auto;
}
.corbeille p
{
    color: black;
    padding: 5%;
    border-bottom: 2px solid white;
}
.corbeille .kakashi,.myTask .tobi
{
    visibility: hidden;
}
.corbeille .action .tobi
{
    visibility: visible;
}
/****************************************** NOTIFICATION ***********************************************/
.notification,.notification_affiche
{
    background-color: rgb(108, 108, 243);
    position: absolute;
    width: 40%;
    height: 10%;
    right: 0;
    bottom: 0;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s, 0.6s ease-in-out;
    transform:translateY(100%);
    z-index: 10;
}
.notification_affiche
{
    animation: bounce 0.5s linear;    
    transform: translateY(0%);
}
/***********************************************     LISTE MENU       *************************************************/
.state_icon
{
    position: absolute;
    z-index: 3;
    right: 0.7%;
    top: 8%;
    font-size: 2.5em;
    color: rgba(80, 79, 79, 0.5);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}   
.states
{
    background: rgb(255, 255, 255);
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s ease 0.5s, height 0.5s ease;
    width: 0;
    z-index: 2;
}
.states h1
{
    text-align: center;
    height: 10%;
}
#check
{
    display: none;
}
input:checked ~ .states 
{
    height: 100%;
    width: 100%;
    transition: width 0.5s ease, height 0.5s ease 0.5s;
    overflow: auto;
}
.mes_etats
{
    width: 100%;
    min-height: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.mes_dates
{
    width: 50%;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: all 0.5s linear;
}
.mes_dates:hover
{
    background-color: black;
    color: white;
}

